.wrapper
  .content
    %h1
      Contactanos
    .form
      = form_for :contacto do |f|
        %ul
          %li
            = f.label :nombre, "Nombre:"
            = f.text_field :nombre
          %li
            = f.label :correo, "Correo:"
            = f.text_field :correo
          %li
            = f.label :asunto, "Asunto:"
            = f.text_area :asunto
    .text
      .direccion
        %p
          D: 21 #135A BUENAVISTA
        %p
          CP: 97127 Merida, Mexico
        %p
          T: 01(999)944.54.50
    .clear
