.wrapper
  .content
    %ul
      %li
        = image_tag("prensa1.png")
      %li.imagenes
        = image_tag("prensa2.png")
      %li
        = image_tag("prensa3.png")
    .leftbar
      = image_tag("barraizquierda.png")
    .rightbar
      = image_tag("barraderecha.png")
