!!!
%html
  %head
    %title Monociclo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag 'application'
%body{ class: controller_name }
  .wrapper
    .content
      .album
        %h1 Albumes de Fotos
        = select_tag "albums", "<option>- - Cargando - -</option>".html_safe
        .droppable
        %ul.album-photos

      .photos
        = form_for :photo, :html => { :multipart => true } do |form|
          .checkbox autoajustar imagen (960x525px)
          = form.file_field :photo
          = check_box_tag 'resize'
        .repo= render @photos
      .clear
