!!!
%html
  %head
    %title Monociclo
    = stylesheet_link_tag    "photos", :media => "all"
    = javascript_include_tag 'photos'
%body{ class: params[:action] }
.wrapper
  .content
    .album
      %h1
        Albumes de Fotos
        = link_to "Nuevo álbum", new_album_path, :class => "new_album"
      %ul
        %li
          = link_to "Album 1"
        %li
          = link_to "Album 2"
        %li
          = link_to "Album 3"
    .photos
      = form_for :photo, :html => { :multipart => true } do |form|
        = form.file_field :photo
        = submit_tag
      - @photo.each do |photo|
        .image
          = link_to image_tag("boton.png"), photo, :method => :delete
          = image_tag(photo.photo.url(:medium))

    .clear

