!!!
%html
  %head
    %title Monociclo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: "#{params[:controller]} #{params[:action]}" }
    #maindiv
      #menu
        %ul
          %li
            = link_to "INICIO", root_path, :class => "inicio"
          %li
            = link_to "QUIENES SOMOS", about_path, :class => "about"
          %li.logo
            = image_tag("menucenter.png")
          %li
            = link_to "PRENSA", prensa_path, :class => "prensa"
          %li
            = link_to "CONTACTO", contacto_path, :class => "contacto"

      .wrapper
        .content= yield

      #footer
        #socialbookmarts
          %li
            = image_tag("twitter.png")
          %li
            = image_tag("facebook.png")
          %li
            = image_tag("blogger.png")

