!!!
%html
  %head
    %title PrimerProyecto
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: "#{params[:controller]} #{params[:action]}" }
    #maindiv
      %ul#menu
        %li
          = link_to "INICIO", root_path
        %li
          %a{:href=>""} QUIENES SOMOS
        %li.logo
          = image_tag("menucenter.bmp")
        %li
          = link_to "PRENSA", prensa_path
        %li
          %a{:href=>""} CONTACTO
      =yield
      #footer
        #socialbookmarts
          %li
            = image_tag("twitter.bmp")
          %li
            = image_tag("facebook.bmp")
          %li
            = image_tag("blogger.bmp")

