!!!
%html
  %head
    %title Monociclo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: params[:controller] }
    #maindiv
      #menu
        %ul
          %li
            = link_to "INICIO", root_path, :class => "inicio"
          %li
            = link_to "QUIENES SOMOS", about_path, :class => "about"
          %li.logo
            = image_tag("menucenter.png")
          %li
            = link_to "PRENSA", prensa_path, :class => "prensa"
          %li
            = link_to "CONTACTO", contacto_path, :class => "contacto"

      .wrapper
        .content.fresh{ class: params[:action] }= yield

      #footer
        #creditos
          %strong 10.08 SUITE DE MODE; MÉRIDA, YUCATÁN, 2012.
          DISEÑO: MONOCICLO ESTUDIO CREATIVO. PROGRAMACIÓN: CÓDIDGO JADE.  
        #socialbookmarts
          %li
            = link_to image_tag("twitter.png"), "http://twitter.com/1808suitedemode", :class => "twitter"
          %li
            = link_to image_tag("facebook.png"), "http://www.facebook.com/pages/1808-suite-de-mode/145038468857687", :class => "facebook"
          %li
            = link_to image_tag("tumblr.png"), "http://1808suitedemode.tumblr.com/", :class => "tumblr"

